/* id # classname . */

html, body {
    height: 100%;
}

#app {
    height: 100%;
    width: 100%;
}

.App {
    text-align: center;
    position: absolute;
    background-color: lightblue;
    height: 100%;
    width: 100%;
}

.scores {
    position: relative;
    padding-top: 20%;
}

.header {
    position: relative;
    padding-top: 15%;
}

.wordDisplay {
    display: block;
    position: absolute;
    font-Size: 50px;
}

#typedWordHeader {
    margin-left: 45%;
    float: left;
}

#gameDisplay:focus {
    outline-width: 0;
}